# Ignorar chaves de API e configurações locais
.env

# Ignorar ambiente virtual do Python
.venv/

# Cache do Python (o **/ garante que ignora em todas as subpastas)
**/__pycache__/
*.pyc

# Banco de dados local com vagas (Remova ou comente a linha abaixo se seu vagas.db estiver na pasta data/ e você quiser enviá-lo)
# data/*.db

# Datasets gigantes (CSV e Parquet)
data/*.csv
data/*.parquet

# Arquivos temporários de currículos
temp_resume.pdf
temp_*.pdf